* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #595a5a;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #e92a63;
  border-color: #e92a63;
}

@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1170px;
  }
}

.btn-theme {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 400;
  color: #fff;
  background: #e91e63;
  padding: 7px 20px;
  border: solid;
  border: 1px solid #e91e63;
  border-radius: 50px;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.btn-theme:hover {
  background: transparent;
  border-color: #e91e63;
  color: #e91e63;
}

.header-main {
  background: url(../images/banner/1.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center right;
}

@media (max-width: 1024px) {
  .header-main {
    background-position: 387% 59%;
  }
}

@media (max-width: 768px) {
  .header-main {
    background-position: 231% 77px;
  }
}

@media (max-width: 600px) {
  .header-main {
    background-position: 222px 76px;
  }
}

.header-main .navbar {
  padding-top: 2.2rem;
}

@media (max-width: 425px) {
  .header-main .navbar-brand {
    width: 220px;
  }
}

.header-main .slider {
  padding: 0 15px;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .header-main .slider {
    height: 50vh;
  }
}

.header-main .slider .slideInfo h1 {
  color: #204476;
  font-family: fund;
  font-weight: revert;
}

.header-main .slider .slideInfo p {
  color: #05334E;
}

.blog-aside .categori {
  border: 1px solid #e5e9f4;
  padding: 22px 30px 22px;
  margin-top: 30px;
}

.blog-aside .categori .title {
  font-size: 24px;
  line-height: 34px;
  font-weight: 700;
  color: #252a32;
  display: block;
  text-align: center;
  margin-bottom: 17px;
}

.blog-aside .categori .separator {
  background: #eeeeee;
  width: 195px;
  height: 2px;
  display: block;
  margin: 0 auto;
}

.blog-aside .categori .categori-list {
  padding-left: 0px;
  margin-bottom: 0px;
  margin-top: 17px;
}

.blog-aside .categori .categori-list li {
  list-style: none;
  line-height: 36px;
}

.blog-aside .categori .categori-list li a {
  color: #05334E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  text-decoration: none;
}

.blog-aside .categori .categori-list li a span {
  -webkit-transition: all  0.4s ease-in;
  transition: all  0.4s ease-in;
}

.blog-aside .categori .categori-list li a:hover {
  color: #e91e63;
}

.blog-aside .categori .categori-list li a:hover span:first-child {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

.blog-aside .recent-post-widget {
  border: 1px solid #e5e9f4;
  padding: 20px 30px 28px;
  margin-top: 30px;
}

.blog-aside .recent-post-widget .title {
  font-size: 24px;
  line-height: 34px;
  font-weight: 700;
  color: #252a32;
  display: block;
  text-align: center;
  margin-bottom: 17px;
}

.blog-aside .recent-post-widget .separator {
  background: #eeeeee;
  width: 195px;
  height: 2px;
  display: block;
  margin: 0 auto;
}

.blog-aside .recent-post-widget .post-list {
  padding-left: 0px;
  margin-bottom: 0px;
  margin-top: 30px;
}

.blog-aside .recent-post-widget .post-list li {
  list-style: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.blog-aside .recent-post-widget .post-list li .post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog-aside .recent-post-widget .post-list li .post .post-img {
  margin-right: 20px;
}

.blog-aside .recent-post-widget .post-list li .post .post-img img {
  width: 73px;
  height: 59px;
}

.blog-aside .recent-post-widget .post-list li .post .post-details {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.blog-aside .recent-post-widget .post-list li .post .post-details a {
  text-decoration: none;
  outline: none;
}

.blog-aside .recent-post-widget .post-list li .post .post-details a .post-title {
  font-weight: normal;
  font-size: 14px;
  color: #2f3744;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.blog-aside .recent-post-widget .post-list li .post .post-details a .post-title:hover {
  color: #e91e63;
}

.blog-aside .recent-post-widget .post-list li .post .post-details .date {
  color: #7b8698;
  font-size: 12px;
  margin-bottom: 0px;
}

.blog-aside .serch-form {
  position: relative;
}

.blog-aside .serch-form input {
  width: 100%;
  height: 50px;
  outline: 0;
  border: 2px solid #f2f2f2;
  background: #f7f8fc;
  padding: 0px 50px 0px 20px;
}

.blog-aside .serch-form button {
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
  width: 50px;
  border: none;
  background: none;
  cursor: pointer;
}

.blog-details {
  padding: 50px 0;
}

.blog-details .blog-content .feature-image img {
  width: 100%;
}

.blog-details .blog-content .content .post-meta {
  padding-left: 0px;
  margin-bottom: 20px;
  margin-top: 12px;
}

.blog-details .blog-content .content .post-meta li {
  list-style: none;
  display: inline;
}

.blog-details .blog-content .content .post-meta li a {
  font-size: 14px;
  margin-right: 10px;
  color: #05334E;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  text-decoration: none;
}

.blog-details .blog-content .content .post-meta li a i {
  font-size: 13px;
}

.blog-details .blog-content .content .post-meta li a:hover {
  color: #e91e63;
}

.blog-details .blog-content .content .title {
  font-size: 28px;
  line-height: 38px;
  font-weight: 600;
  color: #05334E;
}

.blog-details .blog-content .content .tag-social-link {
  background: #f3f6ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 12px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 0;
}

.blog-details .blog-content .content .tag-social-link .tag .title {
  font-size: 14px;
  color: #000000;
  display: inline-block;
  margin-bottom: 0px;
  line-height: inherit;
}

.blog-details .blog-content .content .tag-social-link .tag a {
  color: #545558;
  font-size: 14px;
  display: inline-block;
  margin-bottom: 0px;
  text-decoration: none;
}

.blog-details .blog-content .content .tag-social-link .social-links {
  padding-left: 0;
  margin-bottom: 0;
}

.blog-details .blog-content .content .tag-social-link .social-links li {
  display: inline-block;
}

.blog-details .blog-content .content .tag-social-link .social-links li a {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 30px;
  font-size: 14px;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
  color: #fff;
  margin-left: 2px;
  background: #e91e63;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.blog-details .blog-content .content .tag-social-link .social-links li a:hover {
  -webkit-box-shadow: 0px 10px 30px 0px #5a3ef14d;
          box-shadow: 0px 10px 30px 0px #5a3ef14d;
}

.blog-details .blog-content .content .tag-social-link .social-links li a i {
  margin-top: 8px;
}

.blog {
  padding: 50px 0;
}

.blog .blog-box {
  position: relative;
  background: #f1f1f1;
  padding: 10px;
  margin-bottom: 24px;
  border: 1px solid #f1f1f1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.blog .blog-box:hover {
  -webkit-box-shadow: 0px 10px 20px #0000001a;
          box-shadow: 0px 10px 20px #0000001a;
}

.blog .blog-box:hover .photo {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.blog .blog-images {
  width: 100%;
  display: inline-block;
  overflow: hidden;
  position: relative;
}

.blog .blog-images .photo {
  width: 100%;
  height: auto;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  overflow: hidden;
}

.blog .blog-images .photo img {
  width: 100%;
}

.blog .blog-images .box-date {
  position: absolute;
  background: #e91e63;
  z-index: 2;
  bottom: 0;
  left: 0;
  height: 50px;
  width: 50px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 13px;
  padding: 0;
  color: #fff;
}

.blog .blog-images .box-date p {
  margin: 0;
}

.blog .details {
  padding: 5px 0px 5px;
}

.blog .details .blog-text {
  font-size: 13px;
  color: #333333;
  line-height: 1.625;
}

.blog .details a {
  text-decoration: none;
}

.blog .details a .blog-title {
  font-size: 16px;
  color: #05334E;
  margin-top: 10px;
  text-decoration: none;
}

.blog .details .read-more-btn {
  border: 1px solid #e91e63;
}
/*# sourceMappingURL=app.css.map */